<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <script>
  

    </script>
    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li> <a href="http://localhost:3000/category">키워드 분류 관리</a>
        <li> <a href="http://localhost:3000/keywords">키워드</a>
        <li> <a href="http://localhost:3000/updateWords">후보 키워드</a>
         <li> <a href="http://localhost:3000/exceptWords">제외 키워드</a> 
        <li> <a href="http://localhost:3000/typos">오류 키워드</a>
      </ul>
    </nav>
  </body>
</html>
