<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />



    <script type="text/javascript" src="/jQuery-3.3.1/jquery-3.3.1.js"></script>

    <link rel="stylesheet" type="text/css" href="/DataTables-1.10.21/css/tabulator_bootstrap.min.css"/>
        <!-- handson table 
    <link rel="stylesheet" type="text/css" href="/Buttons-1.6.2/css/buttons.bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/KeyTable-2.5.2/css/keyTable.bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/Scroller-2.0.2/css/scroller.bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/Select-1.3.1/css/select.bootstrap.css"/>
    

    <script type="text/javascript" src="/Bootstrap-3.3.7/js/bootstrap.js"></script>
    <script type="text/javascript" src="/JSZip-2.5.0/jszip.js"></script>
    <script type="text/javascript" src="/DataTables-1.10.21/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/DataTables-1.10.21/js/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="/Buttons-1.6.2/js/dataTables.buttons.js"></script>
    <script type="text/javascript" src="/Buttons-1.6.2/js/buttons.bootstrap.js"></script>
    <script type="text/javascript" src="/Buttons-1.6.2/js/buttons.flash.js"></script>
    <script type="text/javascript" src="/Buttons-1.6.2/js/buttons.html5.js"></script>
    <script type="text/javascript" src="/KeyTable-2.5.2/js/dataTables.keyTable.js"></script>
    <script type="text/javascript" src="/Scroller-2.0.2/js/dataTables.scroller.js"></script>
    <script type="text/javascript" src="/Select-1.3.1/js/dataTables.select.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/handsontable@7.4.2/dist/handsontable.full.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/handsontable@7.4.2/dist/handsontable.full.min.css" rel="stylesheet" media="screen">
    -->
    <link href="https://unpkg.com/tabulator-tables@4.7.1/dist/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.7.1/dist/js/tabulator.min.js"></script>

    <!--
    <script src="..\node_modules\handsontable\dist\handsontable.full.min.css"></script>
    <link href="..\node_modules\handsontable\dist\handsontable.min.css" rel="stylesheet" media="screen">
    -->


  </head>
  <body>
    <script>
      //Tabulator.prototype.defaultOptions = "top";

      var dateEditor = function(cell, onRendered, success, cancel){
    //cell - the cell component for the editable cell
    //onRendered - function to call when the editor has been rendered
    //success - function to call to pass the successfuly updated value to Tabulator
    //cancel - function to call to abort the edit and return to a normal cell

    //create and style input
    var cellValue = moment(cell.getValue(), "DD/MM/YYYY").format("YYYY-MM-DD"),
    input = document.createElement("input");

    input.setAttribute("type", "date");

    input.style.padding = "4px";
    input.style.width = "100%";
    input.style.boxSizing = "border-box";

    input.value = cellValue;

    onRendered(function(){
        input.focus();
        input.style.height = "100%";
    });

    function onChange(){
        if(input.value != cellValue){
            success(moment(input.value, "YYYY-MM-DD").format("DD/MM/YYYY"));
        }else{
            cancel();
        }
    }

    //submit new value on blur or change
    input.addEventListener("blur", onChange);

    //submit new value on enter
    input.addEventListener("keydown", function(e){
        if(e.keyCode == 13){
            onChange();
        }

        if(e.keyCode == 27){
            cancel();
        }
    });

    return input;
};

var tabledata = [
      {id:1, name:"Billy Bob", age:12, gender:"male", height:95, col:"red", dob:"14/05/2010"},
      {id:2, name:"Jenny Jane", age:42, gender:"female", height:142, col:"blue", dob:"30/07/1954"},
      {id:3, name:"Steve McAlistaire", age:35, gender:"male", height:176, col:"green", dob:"04/11/1982"},
      {id:1, name:"Billy Bob", age:12, gender:"male", height:95, col:"red", dob:"14/05/2010"},
      {id:2, name:"Jenny Jane", age:42, gender:"female", height:142, col:"blue", dob:"30/07/1954"},
      {id:3, name:"Steve McAlistaire", age:35, gender:"male", height:176, col:"green", dob:"04/11/1982"},
      {id:1, name:"Billy Bob", age:12, gender:"male", height:95, col:"red", dob:"14/05/2010"},
      {id:2, name:"Jenny Jane", age:42, gender:"female", height:142, col:"blue", dob:"30/07/1954"},
      {id:3, name:"Steve McAlistaire", age:35, gender:"male", height:176, col:"green", dob:"04/11/1982"},
      {id:1, name:"Billy Bob", age:12, gender:"male", height:95, col:"red", dob:"14/05/2010"},
      {id:2, name:"Jenny Jane", age:42, gender:"female", height:142, col:"blue", dob:"30/07/1954"},
      {id:3, name:"Steve McAlistaire", age:35, gender:"male", height:176, col:"green", dob:"04/11/1982"},
      {id:1, name:"Billy Bob", age:12, gender:"male", height:95, col:"red", dob:"14/05/2010"},
      {id:2, name:"Jenny Jane", age:42, gender:"female", height:142, col:"blue", dob:"30/07/1954"},
      {id:3, name:"Steve McAlistaire", age:35, gender:"male", height:176, col:"green", dob:"04/11/1982"},
      {id:3, name:"Steve McAlistaire", age:35, gender:"male", height:176, col:"green", dob:"04/11/1982"}
      ];

      $(document).ready( function () {


        
        var table = new Tabulator("#example1", {
          //height : "80%",
          data:tabledata, //assign data to table
          columns:[ //Define Table Columns
            {title:"Name", field:"name", width:150, editor: "input"},
            // {title:"Age", field:"age", hozAlign:"left", formatter:"progress"},
            {title:"Age", field:"age", hozAlign:"left", editor: "input" },
            {title:"Favourite Color", field:"col", editor: "input"},
            {title:"Date Of Birth", field:"dob", sorter:"date", hozAlign:"center", editor: "input"},
          ],
          layout:"fitDataFill", // option : fitData, fitDataFill, fitDataStretch, fitDataTable, fitColumns
          //autoColumns: true,  // true 로 하면 아래 columns가 없어도 알아서 그린다. 
          autoResize: false,
          resizableRows: true,
          paginationSize : 10,
          /*
          pagination: "local", // options : local

          paginationSizeSelector : [10, 20],
          paginationAddRow:"table", //add rows relative to the table
          rowFormatter : function(row){
            var data = row.getData();
            if(data.col == "blue"){
              console.log("blue") // 여기는 걸리는데 아래가 적용이 안 됨
              row.getElement().style.backgroudColor = "#A6A6DF";
            }
          },
          rowFormatterHtmlOutput: function(row){
            var data = row.getData();
            if(data.col == "blue"){
              row.getElement().style.backgroudColor = "#A6A6DF"
            }
          },
          //ajaxURL : "http...",
          /*
          page - add rows relative to current page (default)
          table - add rows relative to the table
          */
        /*
        tabe.setPage(1).then(function(){

        }).catch(function(error){

        });
        // load next page
        table.nextPage().then(function(){

        }).catch(function(error){

        });
        */
        // table.previousPage()
        // table.setPageToRow(12);
          /*
          ajaxParams : { },
          paginationInitialPage : 2,
          paginationInitialPage:2, // this option can take any positive integer value (default = 1)
          paginationElement:paginationElement, //build pagination controls in this element
          paginationButtonCount:3, //use 3 page buttons in the footer
          paginationSizeSelector:true, //enable page size select element and generate list options
          paginationDataSent : {
            "page" : "pageNo",
          },
          */
          rowClick:function(e, row){ //trigger an alert message when the row is clicked
            console.log("Row " + row.getData().id + " Clicked!!!!");
          },
        });

        document.getElementById("add-row").addEventListener("click", function(){
          console.log("추가");
          table.addRow({}, true); // default 는 false이고 true이면 행이 위에 생긴다.
        });

        document.getElementById("save-row").addEventListener("click", function(){
          console.log("저장");
          table.addData({}, true); // default 는 false이고 true이면 행이 위에 생긴다.
        });

        document.getElementById("updt-row").addEventListener("click", function(){
          // table.clearData(); 현재 화면의 데이타 전체 삭제
          // var data = table.getData(); 모든 페이지의 데이터를 가져옴
          // var data = table.getData("visible");  현재 페이지, 보이는 데이터만 
          console.log(data);
        });

        //table.setPage(2);
        //table.setPageSize(50);
        //table.getPageSize()

      } );

    </script>
    <h1>Index</h1>
    <!-- 
    <button id="add-row"> 행추가 </button>
    <button id="save-row"> 저장 </button>
    <button id="updt-row"> 편집 </button>
    <div id="example1" style="height:300px; width:70%" class="bootstrap"></div>
    -->

  </body>
</html>
