<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/Bootstrap-3.3.7/css/bootstrap.css' />
    <link rel='stylesheet' href='/Bootstrap-3.3.7/css/bootstrap-treeview.min.css' />
    <script type="text/javascript" src="/jQuery-3.3.1/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/Bootstrap-3.3.7/js/bootstrap-treeview.min.js"></script>
    <link href="https://unpkg.com/tabulator-tables@4.7.1/dist/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.7.1/dist/js/tabulator.min.js"></script>
    <style>

    </style>
    <script>
      var category1 = '<%= cate1 %>' || false 
      var category2 = '<%= cate2 %>' || false
      var ajaxURL; 
      var isEmpty = v => {
          if( v == '' || v == undefined || v == null ){
              return true
          } else {
              return false
          }
      }
      // console.log(category1, category2)
      if( isEmpty(category1) && isEmpty(category2) ){
        ajaxURL = "http://localhost:3000/keywords/getTableData"
      } else if( isEmpty(category1) && !isEmpty(category2) ){
        ajaxURL = "http://localhost:3000/keywords/getTableData?category1=" + category1
      } else if( !isEmpty(category1) && !isEmpty(category2) ){
        ajaxURL = "http://localhost:3000/keywords/getTableData?category1=" + category1 + "&category2=" + category2
      } else {
        console.log("Exception")
        ajaxURL = "http://localhost:3000/keywords/getTableData"
      }
      var ctable;
      var cateTree = "<%= JSON.stringify(cateTree) %>".replace(/&#34;/gi,'"') 

      var insertData = ( dataArray ) => {
        if( dataArray !== undefined && dataArray.length < 1){
          console.log("No updating data")
        } else {
          $.ajax({
            url : "http://localhost:3000/category/insertData",
            type : "POST",
            data : JSON.stringify(dataArray),
            contentType : "application/json",
            // dataType : "text",
            error : function(e){
              console.log(e)
            },
            success : function( response ){
              if(response == "OK"){
                ctable.setData();
              } else {
                alert("not successful")
              }
            }
          })
        }
      }

      var loadData = (data) => {
        var category1;
        var category2;
        if(data.nodes !== undefined){
            category1 = data.text
        } else {
            if(data.parentId !== undefined){
                category1 = $("#tree > ul > li[data-nodeid=" + data.parentId+ "]").text()
                category2 = data.text
            } else {
                category1 = data.text
            }
        } 
        var url = "http://localhost:3000/keywords/getTableData?"

        if(category1 !== undefined && category2 === undefined){
            ctable.setData(url + "category1=" + category1.substr(0, category1.indexOf(' ('))) 
        } else if(category1 !== undefined && category2 !== undefined){
            ctable.setData(url + "category1=" + category1.substr(0, category1.indexOf(' (')) + "&category2=" + category2.substr(0, category2.indexOf(' ('))) 
        } else {
            ctable.setData() 
        }
      }

      var printChk = (cell, formatterParams, onRendered) => "<input type='checkbox'>"  
      
      var prtCntLnk = (cell, formatterParams, onRendered) => {
        return `<a href='http://localhost:3000/keywords/getTableData'> ${cell.getValue()} </a>`;
      }
      
      $(document).ready( function(){
        console.log("category2 : " + category2)
        ctable = new Tabulator("#tb_category2", {
          ajaxURL : ajaxURL,
          //ajaxParams : { size : "1" },
          ajaxConfig : "GET",
          layout : "fitData",
          columns : [
            {title : "<input type='checkbox'>", hozAlign:"center", formatter:printChk },
            {title : "esID", field : "isNew", hozAlign:"center", visible: false },
            {title : "대분류", width: 100, field : "category1", hozAlign:"center", visible: false },
            {title : "중분류", width: 300, field : "category2", hozAlign:"center", visible: false },
            {title : "키워드", width: 100, field : "keyword", editor: "input", hozAlign:"center", formatterParams : {add : false} },
            {title : "동의어", width: 300, field : "", editor: "input", hozAlign:"center" },
            {title : "연관어", width: 300, field : "", editor: "input", hozAlign:"center" },
            {title : "오류키워드", width: 300, field : "", editor: "input", hozAlign:"center", formatterParams : {add : false} },
            {title : "삭제", field : "tbutton", hozAlign:"center", width: 70 , formatter: "buttonCross" },
            {title : "신규여부", field : "isNew", hozAlign:"center", visible: false },
            {title : "수정여부", field : "isEdited", hozAlign:"center", visible: false },
          ],

          pagination : "local",
          paginationSize : 20,
          height : "500px",
          // width : "300px",
          cellEdited : function(cell){
            var rowData = cell.getRow().getData();
            if(rowData.isNew !== "Y"){
              rowData.isEdited = "Y"
            }           
          }
        })

        document.getElementById("add-row").addEventListener("click", function(){
          ctable.addData([{  count: 0 , isNew : "Y"}], true); // default 는 false이고 true이면 행이 위에 생긴다.
        });

        document.getElementById("updt-data").addEventListener("click", function(){
          var data = ctable.getData();
          var udata = data.filter( v => v.isNew === "Y" && v.cate2 !== undefined || v.isEdited === "Y" && v.cate2 !== undefined)                                                                                                                                  
          insertData(udata)  
        });

        let ulList = document.querySelectorAll("ul[id^='category2s_'")
        for( ul of ulList ){
          ul.style.visibility='hidden';
        }

        $('#tree').treeview({
            data : cateTree,
            onNodeSelected : function( event, data ){
                loadData(data)
            }
        });
        $('#tree').treeview('collapseAll', { silent: true });

      });

    </script>
  </head>
  <body>
    <div class="row">
      <div class="col-md-2">
        <h4 style="margin-top: 30px; text-align: center; " > 카테고리 </h4>
        <div id="tree"></div>
      </div>
      <div class="col-md-8">
        <h4 style="margin-top: 30px; margin-bottom: 30px;text-align: center;" > 키워드 목록 </h4>
        <div style="padding: 50px 50px 50px 100px;">
          <form>
            <input type="text" id="searchKwd"> <button id="btnSearch" type="button">검색</button>
            <br>
            <br>

            <label for="synonymYn">동의어존재</label>
            <select id="synonymYn">
                <option value="A">전체</option>
                <option value="Y"> Y </option>
                <option value="N"> N </option>
            </select>
            <label for="relWordYn">연관어존재</label>
            <select id="relWordYn">
                <option value="A">전체</option>
                <option value="Y"> Y </option>
                <option value="N"> N </option>
            </select>
            <label for="typoYn">오류어존재</label>
            <select id="typoYn">
                <option value="A">전체</option>
                <option value="Y"> Y </option>
                <option value="N"> N </option>
            </select>

          </form>
        </div>

        <h4>
          <button id="updt-data"> 저장 </button>
          <button id="add-row"> 추가 </button>
        </h4>
        <div id="tb_category2">
          <!-- 타뷸레이터 테이블 생성 -->
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>

  </body>
</html>
